.home-button {
  background-color: blue;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  width: 200px;
  margin-top: 3%;
}

.home-button a {
  color: gold;
  font-size: 22px;
  font-family: cursive;
  text-align: center;
}
