.save-content {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: cursive;
  list-style-type: none;
}

.first-youtube-link {
  padding-top: 50px;
  text-align: center;
  color: #3399ff;
  font-size: 20px;
  font-family: cursive;
  padding-bottom: 5px;
}

.first-youtube-link a{
  text-align: center;
  background-color: #3399ff;
  color: white;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 5px;
  font-size: 20px;
  font-family: cursive;
  padding-bottom: 10px;
}

.second-youtube-link a{
  text-align: center;
  background-color: #3399ff;
  color: white;
  margin-left: 500px;
  border-radius: 5px;
  font-size: 20px;
  font-family: cursive;
}

li {
  list-style-type: none;
}
