.save-content {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: cursive;
  list-style-type: none;
}

.youtube-links {
  padding-top: 50px;
  text-align: center;
  color: #3399ff;
  font-size: 20px;
  font-family: cursive;
}
